
@{
    ViewData["Title"] = "Index";
}

<h1>DEMOS</h1>

<table class="display" cellspacing="1" id="wot">
    <thead>
        <tr>

        </tr>
        <tr>
            <th>Orderid</th>
            <th>Ordersname</th>
            <th>Machinesid</th>
            <th>Product</th>
            <th>ResourceGroupName</th>
            <th>ResourceName</th>
            <th>SetupStart</th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>Quantity</th>
            <th>ActualQuantity</th>
            <th>Note</th>
            <th>ActusalTimeStart</th>
            <th>Status</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Show Detail</th>
            <th id="StartS">Setup</th>
            <th id="Start">Start</th>
            <th id="Pause">Pause</th>
            <th id="Complete">Complete</th>
            <th id="Cannel">Cannel</th>
        </tr>
    </tfoot>
  @*  <tbody id="Setwo">
        <tr id="loadingstatus" style="color:red"></tr>
    </tbody>*@
</table>

