
@{
    ViewData["Title"] = "Index";
}

<h1>DEMOS</h1>

<table class="display table-bordered" cellspacing="1" id="ot">
    <thead>
        <tr>

        </tr>
        <tr >
            <th>Orderid</th>
            <th>Ordersname</th>
            <th>Machinesid</th>
            <th>Product</th>
            <th>ResourceGroupName</th>
            <th>ResourceName</th>
            <th>SetupStart</th>
            <th>StartTime</th>
            <th style="min-width:120px">EndTime</th>
            <th>Quantity</th>
            <th>ActualQuantity</th>
            <th>ActualSetupStart</th>
            <th>ActualStartTime</th>
            <th>ActualEndTime</th>
            <th>Note</th>
            <th>Status</th>
        </tr>
    </thead>
    <tfoot class="table-bordered">
        <tr>
            <th>Show Detail</th>
            <th></th>
            <th id="StartS">Setup</th>
            <th id="Start">Start</th>
            <th id="Pause">Pause</th>
            <th id="Complete">Complete</th>
            <th id="Cancel">Cancel</th>
            <th></th>
            <th colspan="5">
                <div class="form-horizontal form-group" style="float-left">
                    <div class="form-group">
                        <label class="control-label col-md-2">Số lượng:</label>
                        <input style="min-width:300px" id="AQ" />
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Ghi chú:</label>
                        <input style="min-width:300px" id="NS" />
                    </div>
                </div>
                <div class="form-horizontal form-group" style="float-left">
                    <input type="submit" class="btn btn-info" style="font-family: 'Bootstrap-icons';" value="&#xF7AE;" />
                </div>
            </th>
            <th></th>
        </tr>
    </tfoot>
  @*  <tbody id="Setwo">
        <tr id="loadingstatus" style="color:red"></tr>
    </tbody>*@
</table>

