
@{
    ViewData["Title"] = "Index";
}

<h1>DEMOS</h1>

<table class="display table-bordered" cellspacing="1" id="ot">
    <thead>
        <tr>
            <th colspan="3">
               <div class="form-group row">
                <label for="odn">Lệnh sản xuất:</label>
                <select multiple name="odn" id="odn" class="filter-multi-select">
                       
                </select>
               </div>
            </th>
            <th colspan="2">

            </th>
            <th colspan="2"></th>
            <th colspan="2">

            </th>
            <th colspan="4"></th>
            <th colspan="3">

            </th>
        </tr>
        <tr >
            <th>Orderid</th>
            <th>Ordersname</th>
            <th>Machinesid</th>
            <th>Product</th>
            <th>ResourceGroupName</th>
            <th>ResourceName</th>
            <th>SetupStart</th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>Quantity</th>
            <th>ActualQuantity</th>
            <th>ActualSetupStart</th>
            <th>ActualStartTime</th>
            <th>ActualEndTime</th>
            <th>Note</th>
            <th>Status</th>
        </tr>
    </thead>
    <tfoot class="table-bordered">
        <tr>
            <th>Show Detail</th>
            <th></th>
            <th id="StartS">Setup</th>
            <th id="Start">Start</th>
            <th id="Pause">Pause</th>
            <th id="Complete">Complete</th>
            <th id="Cancel">Cancel</th>
            <th></th>
            <th colspan="4">
                <div class="form-horizontal form-group" style="float-left">
                    <div class="form-group" style="padding:3px">
                        <label class="control-label col-md-3">Số lượng:</label>
                        <input style="min-width:400px" id="AQ"  />
                    </div>
                    <div class="form-group" style="padding:3px">
                        <label class="control-label col-md-3">Ghi chú:</label>
                        <input style="min-width:400px" id="NS"  />
                    </div>
                </div>              
            </th>
            <th style="height:70px" id="IAN">
                <i class="fa-solid fa-circle-check" style="font-size:70px;color:green;margin-left:25%;"></i>
            </th>
            <th colspan="3"></th>
        </tr>
    </tfoot>
</table>

