@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>DEMOS</h1>

<table class="display" cellspacing="1" id="wot">
    <thead>
        <tr>
        </tr>
        <tr>
            <th>OrderId</th>
            <th>OrdersNo</th>
            <th>PartNo</th>
            <th>Product</th>
            <th>ResourceGroupName</th>
            <th>ResourceName</th>
            <th>SetupStart</th>
            <th>StartTime</th>
            <th>EndTime</th>
            <th>Quantity</th>
            <th>ActualQuantity</th>
            <th>ActusalSetupStart</th>
            <th>ActusalStartTime</th>
            <th>ActusalEndTime</th>
            <th>Note</th>
            <th>Status</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Show Detail</th>
            <th id="StartS">Setup</th>
            <th id="Start">Start</th>
            <th id="Pause">Pause</th>
            <th id="Complete">Complete</th>
            <th id="Cannel">Cannel</th>
        </tr>
    </tfoot>

</table>