html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    
    margin-bottom: 60px;
}
th {
    background-color: #1e478e;
    color: #ffffff;
    min-width:170px;
}
td {
    background-color: #EEF1FF;
}
.dataTables_wrapper .dataTables_filter {
    
    visibility: hidden;
}
.caret {
    visibility: hidden;
}
div.dataTables_wrapper div.dataTables_length select {
    min-width:60px;
}
    /*Css form filter*/
